@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --pry-bg-clr: #34495e;
  --sec-bg-clr: #fff;
  --offset-pry: #2c3e50;
}
body,
html {
  overflow: hidden;
  background-color: var(--pry-bg-clr);
}
.body-inner {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(1rem, 0.3rem + 4vw, 1.5rem);
}
.wrapper {
  max-width: 25rem;
  width: 100%;
  background-color: var(--sec-bg-clr);
  border-radius: 4px;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3), 0px 0px 50px 10px rgba(255, 255, 255, 0.3);
}
.title {
  background-color: var(--offset-pry);
  padding: clamp(0.5rem, -0.2rem + 4vw, 1rem) 0;
  border-radius: 4px 4px 0 0 ;
  text-align: center;
}
.title span {
  font-size: clamp(1.125rem, 0.6rem + 3vw, 1.5rem);
  color: #fff;
}
.wrapper form {
  padding: clamp(0.5rem, -0.2rem + 4vw, 1rem);
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, -0.2rem + 4vw, 1rem);
}
.wrapper form .row {
  max-width: 100%;
  position: relative;
}
.wrapper form .row i {
  background-color: var(--offset-pry);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 clamp(0.438rem, -0.262rem + 4vw, 0.938rem);
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 6px 0 0 6px;
}
.wrapper form .row input {
  width: 100%;
  height: 100%;
  padding: 8px 0 8px 50px;
  border-radius: 8px;
  outline: none;
  font-size: clamp(0.688rem, 0.425rem + 1.5vw, 0.875rem);
  transition: box-shadow 300ms ease;
  border: 1px solid lightgrey;
}
.wrapper form .row input:focus {
  box-shadow: inset 0px 0px 1px 1px rgba(44, 62, 80, 0.25);
}
.forgot a {
  text-decoration: none;
  color: var(--pry-bg-clr);
  font-size: clamp(0.688rem, 0.338rem + 2vw, 0.938rem);
  font-weight: 500;
}
.forgot a:hover {
  text-decoration: underline;
}
.wrapper form .btn input {
  cursor: pointer;
  background-color: var(--offset-pry);
  color: var(--sec-bg-clr);
  font-size: clamp(0.75rem, 0.4rem + 2vw, 1rem);
  border-radius: 8px;
  transition: all 300ms ease;
  padding: clamp(0.313rem, 0.05rem + 1.5vw, 0.5rem) 0;
  border: none;
}
.wrapper form .btn input:hover {
  background-color: var(--pry-bg-clr);
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px #1b1b1b;
}
.wrapper form .su-link {
  font-size: clamp(0.688rem, 0.425rem + 1.5vw, 0.875rem);
  font-weight: 500;
  text-align: center;
}
.wrapper form .su-link a {
  color: var(--pry-bg-clr);
  font-weight: 500;
  transition: all 300ms ease;
}
.wrapper form .su-link a:hover {
  text-decoration: none;
  border-radius: 5px;
}